@model DndDmWebApp.ViewModels.ClassViewModels.ClassIndexViewModel
<div class="row">
    <h1>Classes</h1>
</div>
<div class="row">
    <p>Edit an existing class or <a asp-action="Create" asp-controller="Class">create a new class.</a></p>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <td>
                    <label asp-for="Classes.FirstOrDefault().Name"></label>
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Classes)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Class" asp-route-id="@item.ID">Edit</a> | <a asp-action="Delete" , asp-controller="Class" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>