@model DndDmWebApp.ViewModels.Models.BaseStatModel
@using System.Text.RegularExpressions
@{ 
    //see https://stackoverflow.com/a/32119547 for what this is doing
    var index = Convert.ToInt32(Regex.Matches(
         ViewData.TemplateInfo.HtmlFieldPrefix,
         @"\[([0-9]+)?\]")[0].Groups[1].ToString());

}
<div>
    <div>
        <select asp-for="ID" asp-items="@(new SelectList((IEnumerable<DndDmWebApp.ViewModels.Models.BaseStatModel>)ViewData["AllBaseStats"], "ID", "Name"))" class="form-control"></select>
    </div>
    <div>
        <input type="number" asp-for="Value" class="form-control" />
    </div>
    <div>
        <button type="submit" name="deletestat" value="@index" class="pull-right btn btn-danger small-bold-text">Delete</button>
    </div>
</div>