@model DndDmWebApp.ViewModels.Models.SkillModel
@using System.Text.RegularExpressions
@{
    //see https://stackoverflow.com/a/32119547 for what this is doing
    var index = Convert.ToInt32(Regex.Matches(
         ViewData.TemplateInfo.HtmlFieldPrefix,
         @"\[([0-9]+)?\]")[0].Groups[1].ToString());

}
<div class="skills">
    <div>
        <input type="checkbox" asp-for="Proficient" class="form-control"/>
    </div>
    <div>
        <input type="number" asp-for="Value" class="form-control" />
    </div>
    <div>
        <select asp-for="ID" asp-items="@(new SelectList((IEnumerable<DndDmWebApp.ViewModels.Models.SkillModel>)ViewData["AllSkills"], "ID", "Name"))" class="form-control"></select>
    </div>
    <div class="skill-delete">
        <button type="submit" name="deleteskill" value="@index" class="pull-right btn btn-danger small-bold-text">X</button>
    </div>
</div>

<style>
    .skills {
        display: grid;
        grid-template-columns: 10% 15% 58% 17%;
    }
    .skills > div > .form-control{
        font-size:smaller;
    }
</style>